<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen" />
	<link href="{% static 'css/athena.css' %}" rel="stylesheet" media="screen" />
	<script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
	<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?
	key=AIzaSyASxRUV2P8U0KDQULKEQzgl7iIlz6k61AY&sensor=false">
	</script>
</head>
<body>
	<div class="header">
		Athena
	</div>
	{% block content %}
	{% endblock %}
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>
</html>